* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7fb;
  font-family: Inter, sans-serif;
}
.card {
  background-color: #ffffff;
  width: 600px;
  min-height: 650px;
  margin: 80px auto;
  padding: 40px;
  border-radius: 20px;
}
header {
  margin-bottom: 30px;
}
header h1 {
  margin-bottom: 10px;
}
header p {
  color: #6b7280;
  font-weight: 100;
}
#add-task form {
  display: flex;
  gap: 10px;
  width: 100%;
}
#add-task input {
  flex: 1;
  padding: 10px;
}
#add-task input:focus {
  outline: 1px solid #6b7280;
}
#add-task button {
  width: 50px;
  font-size: 24px;
  cursor: pointer;
}
#add-task button:hover {
  background-color: #4f46e5;
  color: whitesmoke;
  border-color: #4f46e5;
}
#add-task input,
#add-task button {
  height: 50px;
  border-radius: 12px;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
}
#filter-buttons {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
#filter-buttons button {
  width: 80px;
  height: 35px;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  cursor: pointer;
}
#filter-buttons button:hover {
  background-color: #4f46e5;
  color: whitesmoke;
  border-color: #4f46e5;
}
#filter-buttons .active {
  background-color: #4f46e5;
  color: whitesmoke;
  border-color: #4f46e5;
}
#task-list {
  margin-top: 30px;
}

#task-list ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
  border: 1px solid #e5e7eb;
  width: 520px;
  height: 60px;
  padding: 0 15px;
  border-radius: 12px;
}
#task-list input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #d1d5db;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
#task-list input[type="checkbox"]:checked {
  text-decoration: line-through;
  color: #9ca3af;
  background-color: #4f46e5;
  border-color: #4f46e5;
}
#task-list input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  font-size: 12px;
  position: absolute;
  left: 3px;
  top: -1px;
}
.edit-btn,
.delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.edit-btn {
  margin-left: auto;
  color: #4f46e5;
}

.delete-btn {
  color: #ef4444;
}
#task-count {
  margin-top: 20px;
  color: #6b7280;
}
.completed {
  text-decoration: line-through;
  color: #9ca3af;
}
.edit-input {
  flex: 1;
  height: 35px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
}
